{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- {{ encore_entry_link_tags('css/AffSusar') }} -->
    
    <link rel="stylesheet" href="{{ asset('./build/css/AffSusar.css') }}">
{% endblock %}




{% block body %}
<div class="requete">
    {{ form_start(form, {'attr': {'id': 'form_susar_dp'},'action': path('affiche_susar')}  ) }}

    <div class="requete_simple">
        <div class="row">
        <div class="col-md-1">{{ form_row(form.DP) }}</div>
        <div class="col-md-2">{{ form_row(form.Evaluateurs) }}</div>
        <div class="col-md-8">{{ form_row(form.DMM) }}</div>
        </div>
    </div>

    <div class="requete_avancee">
    </div>
    <button class="btn btn-primary btnRechSusar">Rechercher</button>
    {{ form_end(form) }}
</div>
<div class="nb_susar">
  Nb SUSARs : {{ SusarsDP | length }}
</div> 

<div class="container-fluid mt-3 mb-5 pb-5">
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
            <th>idSUSAR_PROD</th>
            <th>nomFichierC</th>
            </tr>
        </thead>
        <tbody>
        {% for SusarDP in SusarsDP %}
            <tr>
                <td>{{ SusarDP.idSUSAR_PROD }}</td> 
                <td>{{ SusarDP.nomFichierC }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
