{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/AffSusar') }}
    <!-- <link rel="stylesheet" href="{{ asset('./build/css/AffSusar.css') }}"> -->
    <!-- <link rel="stylesheet" href="./build/css/AffSusar.css"> -->
{% endblock %}



{% block body %}
<div class="requete">
    {{ form_start(form, {'attr': {'id': 'form_susar_dp'},'action': path('affiche_susar')}  ) }}
    <div class="reqsimple_btn">
        <div class="requete_simple">
            <div class="frm_dp">{{ form_row(form.DP) }}</div>
            <div class="frm_eval">{{ form_row(form.Evaluateurs) }}</div>
            <div class="frm_dmm">{{ form_row(form.DMM) }}</div>
        </div>
        <div class="btnSusarVer">
            <button class="btn btn-primary btnRechSusar">Rechercher</button>
            {# <button class="btnRechSusar">Rechercher</button> #}
            <span id="RechAv" class="btnRechSusar">Recherche avancée</span>
            <span class="btnRechSusar">Reset champs</span>
        </div>

    </div>

    

    <div class="requete_avancee">

        <div class="requete_SUSAR">
            <div class="rq_deces">{{ form_row(form.Deces) }}</div>
            <div class="rq_pro_vital">{{ form_row(form.ProVital) }}</div>
            <div class="rq_france">{{ form_row(form.France) }}</div>
            <div class="rq_COVID">{{ form_row(form.COVID) }}</div>
            <div class="rq_vol_sain">{{ form_row(form.VolSain) }}</div>

            <div class="rq_CIOMS">{{ form_row(form.CIOMS) }}</div>
            <div class="rq_idSusar">{{ form_row(form.idSusar) }}</div>
            <div class="rq_NumEudraCT">{{ form_row(form.NumEudraCT) }}</div>
            <div class="rq_NumCas">{{ form_row(form.NumCas) }}</div>
            
            <div class="rq_DateRecep">
                <div class="DateRecep">
                    {{ form_row(form.DateRecepDeb) }}
                    {{ form_row(form.DateRecepFin) }}  
                </div>
            </div>
        </div>
        <div class="requete_SUSAR_evalues">

            <div class="rq_Effet">{{ form_row(form.Effet) }}</div>
            
            <div class="rq_Comment">{{ form_row(form.Comment) }}</div>
            
            <div class="rq_Prod">{{ form_row(form.Prod) }}</div>
            
            <div class="rq_Evalue">{{ form_row(form.Evalue) }}</div>
            
            <div class="rq_UtilEvalDP">{{ form_row(form.UtilEvalDP) }}</div>
            
            <div class="rq_MesAct">{{ form_row(form.MesAct) }}</div>
            
            <div class="rq_FollUp">{{ form_row(form.FollUp) }}</div>
            
            <div class="rq_TypMesAct">{{ form_row(form.TypMesAct) }}</div>
            
            <div class="rq_DateEval">
                <div class="DateEval">
                    {{ form_row(form.DateEvalDeb) }}
                    {{ form_row(form.DateEvalFin) }}
            </div>

            
        </div>
    </div>
    {{ form_end(form) }}
</div>
<div class="nb_susar">
  Nb SUSARs : {{ SusarsDP | length }}
</div>

<div class="container-fluid mt-3 mb-5 pb-5">
    <table class="table table-striped">
        <thead>
            <!-- <tr class="table-primary">
                <th>idSUSAR_PROD</th>
                <th>nomFichierC</th>
            </tr> -->



        </thead>
        <tbody>
        {% for SusarDP in SusarsDP %}
            <tr>
                <td>
                    <div class="cntrGrid">

                        <!-- 1ere ligne -->
                        <div class="cioms">
                            {# <span class="titreTD">Fiche CIOMS : </span>{{ SusarDP.nomFichierC }} #}
                            <span class="titreTD">Fiche CIOMS : </span><a href="open_cioms.php?link={{ SusarDP.nomFichierC }}">{{ SusarDP.nomFichierC }}</a><br>

                        </div>

                        <div class="prod">
                            <span class="titreTD">Produit : </span>{{ SusarDP.Produit }}
                        </div>
                        <div class="effet">
                            <span class="titreTD">Effet : </span>{{ SusarDP.Effet|convert_encoding("UTF-8", "ISO-8859-1") }}
                        </div>
                        <div class="comm">
                            <span class="titreTD">Commentaire : </span>{{ SusarDP.Commentaire|convert_encoding("UTF-8", "ISO-8859-1") }}
                        </div>

                        <!-- 2eme ligne -->
                        <div class="dtimport">
                            <span class="titreTD">date import : </span> {{ SusarDP.dateImporte|date("m/d/Y") }}
                        </div>
                        <div class="dp">
                            <span class="titreTD">DP : </span>{{ SusarDP.DP }}
                        </div>
                        <div class="gamme">
                            <span class="titreTD">Gamme : </span>{{ SusarDP.evaluateurDP }}
                        </div>
                        <div class="dteval">
                            <span class="titreTD">date éval. : </span>{{ SusarDP.DateEvalDP|date("m/d/Y") }}
                        </div>
                        <div class="eval">
                            <span class="titreTD">Utilisateur : </span>{{ SusarDP.UtilisateurEvalDP }}
                        </div>
                        <div class="follup">
                            <span class="titreTD">Follow up : </span>{{ SusarDP.FollowUp }}
                        </div>

                        <!-- 3eme ligne -->
                        <div class="mesact">
                            <span class="titreTD">Mesure/action : </span>{{ SusarDP.TypeMesureAction|convert_encoding("UTF-8", "ISO-8859-1") }}
                        </div>
                        <div class="idsusar">
                            <span class="titreTD">idSUSAR : </span>{{ SusarDP.idSUSAR_PROD }}
                        </div>
                        <!-- 4eme ligne -->
                        <div class="numeudra">
                            <span class="titreTD">Numéro EUDRA_CT : </span>{{ SusarDP.NumEUDRA_CT }}
                        </div>
                        <div class="numcas">
                            <span class="titreTD">Numéro cas : </span>{{ SusarDP.NumCas }}
                        </div>
                        <div class="attrib">
                            <input type="button" value="M'attribuer ce SUSAR">
                        </div>
                    </div>
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# <script type="text/javascript" src="{{ asset('./build/AffSusar.js') }}"></script> #}
    {{ encore_entry_script_tags('AffSusar') }}
{% endblock %}