{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    
    <link rel="stylesheet" href="{{ asset('./build/css/AffSusar.css') }}">
    <!-- <link rel="stylesheet" href="./build/css/AffSusar.css"> -->
{% endblock %}




{% block body %}
<div class="requete">
    {{ form_start(form, {'attr': {'id': 'form_susar_dp'},'action': path('affiche_susar')}  ) }}

    <div class="requete_simple">
        <div class="row">
        <div class="col-md-1">{{ form_row(form.DP) }}</div>
        <div class="col-md-2">{{ form_row(form.Evaluateurs) }}</div>
        <div class="col-md-8">{{ form_row(form.DMM) }}</div>
        </div>
    </div>

    <div class="requete_avancee">
    </div>
    <button class="btn btn-primary btnRechSusar">Rechercher</button>
    {{ form_end(form) }}
</div>
<div class="nb_susar">
  Nb SUSARs : {{ SusarsDP | length }}
</div> 

{# <a href="C:\xampp\htdocs\susar_dp_v2\public\07Apr2020_RIVAROXABAN_CZ-BAYER-2019-203779-CT_C.pdf"  target="_blank">Ce lien affiche le PDF dans le navigateur</a> #}
{# <a href="file:///c:/xampp/htdocs/susar_dp_v2/public/07Apr2020_RIVAROXABAN_CZ-BAYER-2019-203779-CT_C.pdf"  target="_blank">Ce lien affiche le PDF dans le navigateur</a> #}
{# <a href="file:///C:\xampp\htdocs\susar_dp_v2\public\07Apr2020_RIVAROXABAN_CZ-BAYER-2019-203779-CT_C.pdf"  target="_blank">Ce lien affiche le PDF dans le navigateur</a> #}
{# <a href="file:///C:\xampp\htdocs\susar_dp_v2\public\07Apr2020_RIVAROXABAN_CZ-BAYER-2019-203779-CT_C.pdf">test1.pdf</a><br>
<a href="file:///C:/xampp/htdocs/susar_dp_v2/public/07Apr2020_RIVAROXABAN_CZ-BAYER-2019-203779-CT_C.pdf">test2.pdf</a><br>
<a href=".\07Apr2020_RIVAROXABAN_CZ-BAYER-2019-203779-CT_C.pdf"  target="_blank">test3.pdf</a><br> #}
{# <a href="fichier.php">Test1</a><br>

<a href="fichier2.php?link=S:\SUSAR\SUSARPROD\SUSAR\DP2\2020\Semestre1\04\CARDIO1\Prioritaires\20200330_AZP01-CLI-003_2018-003062-13_US_2020USLIVOLETIDE0015_0_CT_C.PDF">Test2</a><br> #}


<div class="container-fluid mt-3 mb-5 pb-5">
    <table class="table table-striped">
        <thead>
            <!-- <tr class="table-primary">
                <th>idSUSAR_PROD</th>
                <th>nomFichierC</th>
            </tr> -->



        </thead>
        <tbody>
        {% for SusarDP in SusarsDP %}
            <tr>
                <td>
                    <div class="cntrGrid">

                        <!-- 1ere ligne -->
                        <div class="cioms">
                            {# <span class="titreTD">Fiche CIOMS : </span>{{ SusarDP.nomFichierC }} #}
                            <span class="titreTD">Fiche CIOMS : </span><a href="open_cioms.php?link={{ SusarDP.nomFichierC }}">{{ SusarDP.nomFichierC }}</a><br>

                        </div>

                        <div class="prod">
                            <span class="titreTD">Produit : </span>{{ SusarDP.Produit }}
                        </div>
                        <div class="effet">
                            <span class="titreTD">Effet : </span>{{ SusarDP.Effet|convert_encoding("UTF-8", "ISO-8859-1") }}
                        </div>
                        <div class="comm">
                            <span class="titreTD">Commentaire : </span>{{ SusarDP.Commentaire|convert_encoding("UTF-8", "ISO-8859-1") }}
                        </div>

                        <!-- 2eme ligne -->
                        <div class="dtimport">
                            <span class="titreTD">date import : </span> {{ SusarDP.dateImporte|date("m/d/Y") }}
                        </div>
                        <div class="dp">
                            <span class="titreTD">DP : </span>{{ SusarDP.DP }}
                        </div>
                        <div class="gamme">
                            <span class="titreTD">Gamme : </span>{{ SusarDP.evaluateurDP }}
                        </div>
                        <div class="dteval">
                            <span class="titreTD">date éval. : </span>{{ SusarDP.DateEvalDP|date("m/d/Y") }}
                        </div>
                        <div class="eval">
                            <span class="titreTD">Utilisateur : </span>{{ SusarDP.UtilisateurEvalDP }}
                        </div>
                        <div class="follup">
                            <span class="titreTD">Follow up : </span>{{ SusarDP.FollowUp }}
                        </div>

                        <!-- 3eme ligne -->
                        <div class="mesact">
                            <span class="titreTD">Mesure/action : </span>{{ SusarDP.TypeMesureAction|convert_encoding("UTF-8", "ISO-8859-1") }}
                        </div>
                        <div class="idsusar">
                            <span class="titreTD">idSUSAR : </span>{{ SusarDP.idSUSAR_PROD }}
                        </div>
                        <!-- 4eme ligne -->
                        <div class="numeudra">
                            <span class="titreTD">Numéro EUDRA_CT : </span>{{ SusarDP.NumEUDRA_CT }}
                        </div>
                        <div class="numcas">
                            <span class="titreTD">Numéro cas : </span>{{ SusarDP.NumCas }}
                        </div>
                        <div class="attrib">
                            <input type="button" value="M'attribuer ce SUSAR">
                        </div>
                    </div>
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
