{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid mt-3 mb-5 pb-5">
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
            <th>idSUSAR_PROD</th>
            <th>nomFichierC</th>
            </tr>
        </thead>
        <tbody>
        {% for Pagi in TabPagi %}
            <tr>
                <td>{{ Pagi.idSUSAR_PROD }}</td> 
                <td>{{ Pagi.nomFichierC }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


    {# <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if page > 1 %}
      <li class="page-item">
        <a class="page-link" href="{{ path('affiche_susar') }}&page=1" tabindex="-1">Premier</a>
      </li>
        <li class="page-item"><a class="page-link" href="{{ path('affiche_susar') }}&page={{ page - 1 }}">{{ page - 1 }}</a></li>
      {% else %}
      
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="{{ path('affiche_susar') }}&page={{ page + 1 }}">{{ page + 1 }}</a></li>
      <li class="page-item">
        <a class="page-link" href="{{ path('affiche_susar') }}&page={{ NbPage|round }}">Dernier</a>
        
      </li>
    </ul>
  </nav> #}

  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if page > 1 %}
      <li class="page-item">
        <a class="page-link" href="{{ path('affiche_susar') }}/1" tabindex="-1">Premier</a>
      </li>
        <li class="page-item"><a class="page-link" href="{{ path('affiche_susar') }}/{{ page - 1 }}">{{ page - 1 }}</a></li>
      {% else %}
      
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="#">{{ page }}
            {# <span class="sr-only">(current)</span> #}
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="{{ path('affiche_susar') }}/{{ page + 1 }}">{{ page + 1 }}</a></li>
      <li class="page-item">
        <a class="page-link" href="{{ path('affiche_susar') }}/{{ NbPage|round }}">Dernier</a>
        
      </li>
    </ul>
  </nav>

{% endblock %}
